name: Publish to NPM

on:
  push:
    tags:
      - "v*"

jobs:
  publish:
    runs-on: ubuntu-latest
    environment: npm
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: "https://registry.npmjs.org"
          cache: "npm"

      - name: Update npm
        run: npm install -g npm@latest

      - name: Install Root Dependencies
        run: npm ci

      - name: Build All Packages
        run: npm run build:all

      - name: Publish @morphql/language-definitions
        run: npm publish -w @morphql/language-definitions --provenance

      - name: Publish @morphql/core
        run: npm publish -w @morphql/core --provenance

      - name: Publish Remaining Packages
        run: |
          npm publish -w @morphql/cli --provenance
          npm publish -w @morphql/server --provenance
          npm publish -w @morphql/playground --provenance
